<br>
<h1>These are youre registerd Users:</h1>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{post.name}}
            </mat-panel-title>
            <mat-panel-description> 
                <button mat-raised-button color="primary" (click) = deletePost(post.id)>Delete</button> 
            </mat-panel-description>
        </mat-expansion-panel-header> 
       <!--  <div id="likes">
       <button mat-raised-button color="primary" (click)="addlike(post.id,post.like)">LIKE</button> 
       
     <button mat-raised-button color="primary" [routerLink]="'/postform/'+ post.id">Edit</button> 
         </div>-->
                          
         <h2>Email:</h2>{{post.email}}
      
         <h2>Phone number:</h2>{{post.phone}}
    </mat-expansion-panel>
</mat-accordion>