.example-card {
    max-width: 400px;
    margin: 10px;
  }
  .editButton{ visibility: hidden}
  
  mat-card:hover 
  .editButton{
  visibility: visible;
  }
  
  .green {
    background-color: green;
   }
   .mat-success {
    background-color: green;
    color: green;
}