<mat-card class="example-card" *ngFor = "let item of items$ | async">
    <div class="content" >
          <mat-card-header>
            <mat-card-title>{{item.name}}</mat-card-title>
          </mat-card-header>
    
          <mat-card-subtitle>
            Comment: {{item.price}}
           <br>
            Duration: {{item.quantity}} 
            <br>
          </mat-card-subtitle>
          
          <mat-card-subtitle>
            <button class= "green" mat-button   *ngIf="item.instock" mdbWavesEffect="true" disabled (click)="changeStock(item.id, item.instock)">Done</button> 
            <button  mat-raised-button *ngIf="!item.instock" mdbWavesEffect (click)="changeStock(item.id, item.instock)">Done</button>
          </mat-card-subtitle>
      <mat-card-actions  class="editButton">
        <div *ngIf = "!beforeDelete">
        <button mat-raised-button color="primary" (click) = "click()">Delete</button>
       </div>
       <div *ngIf = "beforeDelete">
        <p>Are you sure?</p>
        <button mat-raised-button color="warn" (click) = "deleteItem(item.id)">Delete</button>
        <button mat-raised-button color="primary" (click) = "beforeDelete=!beforeDelete">Cancel</button>  
      </div>   
      </mat-card-actions>
   
    </div>
  
    </mat-card>
    <button class= mat-raised-button color="warn" [routerLink]="['/itemsform']">Add New Task</button >