<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list *ngIf = "(authService.user | async)?.uid">
      <a mat-list-item routerLink="/allposts" routerLinkActive="active">Users</a>
      <a mat-list-item routerLink="/savepost" routerLinkActive="active">Registerd users</a>
     <!-- <a mat-list-item routerLink="/classify">Classify</a>-->
     <!-- <a mat-list-item [routerLink]="['/temperatures','London']">Tempreratures</a>-->
      <a mat-list-item href="items" routerLinkActive="active">Todos</a>
     <!-- <a mat-list-item href="todos" routerLinkActive="active">Todo</a>
      <a mat-list-item href="mytodo" routerLinkActive="active">My Todos</a>-->
        </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
      <div>
        <a class = "whitelink" routerLink="/login" *ngIf = "!(authService.user | async)?.uid" >Login</a>         
        <a class = "whitelink" *ngIf  = "(authService.user | async)?.uid" (click) = "authService.Logout()"> Logout </a>
       
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
