<mat-card class ="example-card" *ngFor = "let todo of todos$">
    <mat-panel-title>
        {{todo.id}}) {{todo.title}}
    </mat-panel-title>
    <button mat-raised-button color="primary" (click)="addToList(todo.title,todo.completed)">Save Todo</button>

    <span style="float:right" *ngIf = "todo.completed == true">
        <mat-checkbox checked = "true" [disabled]= "true">

        </mat-checkbox>
    </span>
    <span style="float:right" *ngIf = "todo.completed == false">
        <mat-checkbox [disabled]="true">
                
        </mat-checkbox>
    </span>
</mat-card>
          