<mat-card>
    <h1>{{btnText}}</h1>
    <form #addpost="ngForm" (ngSubmit)="onSubmitAddPost()">
      <div class="example-container">
        <mat-form-field>
         <input matInput [(ngModel)] = "title" name = "title" placeholder="Title"
                           required
                          #postTitle = "ngModel">
          <mat-error *ngIf="!(postTitle.valid || postTitle.pristine)">
            The title of the post is required
          </mat-error>                        
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput [(ngModel)] = "body" name = "body" placeholder="Body"
                              required
                             #postBody = "ngModel">
             <mat-error *ngIf="!(postBody.valid || postBody.pristine)">
              The body of the post is required
             </mat-error>                        
           </mat-form-field>
           <br>
           <mat-form-field>
            <input matInput [(ngModel)] = "name" name = "name" placeholder="Writer"
                              required
                             #postusername = "ngModel">
             <mat-error *ngIf="!(postusername.valid || postusername.pristine)">
               The writer of the post is required
             </mat-error>                        
           </mat-form-field>
        <div>
           <button mat-raised-button color="primary" [disabled]="!addpost.form.valid">{{btnText}}</button>
           <button mat-raised-button [routerLink]="'/savepost'"> Cancel</button>
        </div>
     </div>
    </form>
</mat-card>