<h4>Add a new task here:</h4>
<form #addItems="ngForm"(ngSubmit)="onSubmit()">
        <p>Task:</p>
    <div>
                <input [(ngModel)]= "name"
                                name="name"> 
    </div>
    <p>Comment:</p>
    <div>
      <input [(ngModel)]= "price"
                      name="price"> 
      </div>
      <p>Duration:</p>
      <div>
        <input [(ngModel)]= "quantity"
                        name="quantity"> 
</div>


<p></p>
        <button mat-raised-button color="primary" [disabled]>Submit</button>
    </form>

