<br>
<h1>All Users:</h1>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of Posts$ ">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{post.id}}. {{post.name}}
            </mat-panel-title>
        
        <div id="save_button">
        <button mat-raised-button color="primary" (click)="add(post.name,post.email,post.id,post.phone)">Create account</button>
        </div>
    </mat-expansion-panel-header>
        <h4 *ngIf = "post.id == postid">{{text}}</h4> 
        <h2>Email:</h2>{{post.email}}
      
        <h2>Phone number:</h2>{{post.phone}}
      <!--  <div *ngFor="let com of comments$ ">
           <div *ngIf = "com.postId == post.id;other"><br> {{com.body}}</div>
        </div>  -->
    </mat-expansion-panel>
</mat-accordion>
